<h1>ToDo Apps</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag '', '', task.done, {'data-id' => task.id} %>
      <%= task.title %>
      <%= link_to '[edit]', edit_task_path(task.id) %>
      <%= link_to '[delete]', task_path(task.id), method: :delete, data:{ confirm: 'Are you sure to delete it?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new tasks!', new_task_path %>

<script>
  $(function(){
    $("input[type=checkbox]").click(function(){
      $.post('/tasks/' + $(this).data('id') + '/toggle');
    });
  });
</script>
